.banner {
  height: 600px;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://d32miag6ta013h.cloudfront.net/master_cocktails/892/en-gl/medium/el-presidente-no1_med_1280x922.jpg);
}

.banner-logo {
  font-weight: bold;
  font-family: 'Rock Salt', cursive;
  font-size: 100px;
  color: white;
}

.banner-p {
  color: white;
  margin-left: 300px;
}

.nadia {
  align-items: center;
  justify-content: center;
}

.btn {
  margin-left: 290px;
}
