.navbar-lewagon {
  justify-content: space-between;
  background: #f9813a;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-h2 {
  font-weight: bold;
  font-family: 'Rock Salt', cursive;
}
